.App {
  text-align: center;
}




.App-header {
  background-image:
  radial-gradient( farthest-side, #DADBEC,#555794);
  background-image: linear-gradient( #555794, white );
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}
.my-choices, .their-choices {

  text-align: left;
}
#Head a {
  float:left;
  width: 220px;
  margin-top: 30px;
  text-align: center;
  font-family: Copperplate Gothic Light;
  font-weight: lighter;
  font-size: 50px;

}
.container-fluid {
  background-color: #8788BA;
}
.container-fluid a {
  background-color: #8788BA;
}
