body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.form-group input {
  width: 200px;
}
.form-group {

  text-align: left;

}
.Friends h3{
  text-align: left;
  margin-left: 40px;
  width: 300px;
  color: #6798cd;
}
.Friends h4 {
  display: inline-block;
  width: 60%;
}
.Friends ul {
  background-color: #C5DBF5;
  display: flex;
  flex-direction: column;
  color: #6798cd;
  border-style: solid;
  border-radius: 10px;
  border-color: #2A619E;
  font-family: monospace;
  font-weight: 700;
  font-size: 20px;
  padding: 0px;
  margin-top: 20px;
  width: 40%;
  height: 200px;
  overflow: hidden;
  overflow-y: auto;
}

/*.Friends div  {
  display: flex;
  justify-content: space-between;
  height: 30px;
}*/

.mobile {
  display: none;
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.login-form {
  margin-top: 50px;
  display: flex;
}

.App-logo {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Penrose-dreieck.svg/2000px-Penrose-dreieck.svg.png);
}

@media (max-width: 992px) {
  .form-group {
    display: inline-block;
  }
}

.invite h2 {
  font-family: fantasy;
  color: #6798cd;
}

.RestaurantList {
  display: flex;
  width: 800px;
  margin: none;

}
